<!DOCTYPE html>
<html>
<head th:replace="layout/common :: html-head">
    <title>Product Registration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>
<body>
<div th:replace="layout/common :: header"></div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">상품 등록</div>
                <div class="card-body">

                    <!-- Registration Form -->
                    <form method="POST" action="/admin/products">
                        <div class="form-group required">
                            <label for="product_name" class="control-label">상품명</label>
                            <input type="text" class="form-control" id="product_name" name="product_name" required>
                        </div>

                        <div class="form-group required">
                            <label for="product_category" class="control-label">상품 분류</label>
                            <select class="form-control" id="product_category" name="category" required>
                                <option value="">--선택--</option>
                                <option value="coffee">커피</option>
                                <option value="latte">라떼</option>
                                <option value="tea">차</option>
                            </select>
                        </div>

                        <div class="form-group required">
                            <label for="product_price" class="control-label">상품 가격</label>
                            <input type="number" class="form-control" id="product_price" name="price" required>
                        </div>

                       <!-- <div class="form-group required">
                            <label for="product_start_date" class="control-label">판매 시작 날짜</label>
                            <input type="date" class="form-control" id="product_start_date" name="start_date" required>
                        </div>

                        <div class="form-group required">
                            <label for="product_end_date" class="control-label">판매 종료 날짜</label>
                            <input type="date" class="form-control" id="product_end_date" name="end_date" required>
                        </div>
-->
                        <div class="form-group">
                            <div>판매 유무</div>
                            <div class="toggle-switch">
                                <input type="checkbox" class="toggle-switch-checkbox" id="on_sale" name="on_sale" >

                                <label class="toggle-switch-label" for="on_sale">
                                    <span class="toggle-switch-inner"></span>
                                    <span class="toggle-switch-switch"></span>
                                </label>
                            </div>
                        </div>
                        <input type="hidden" name="_on_sale" value="on">




                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">상품 등록</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>