<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="~{layout/common :: html-head}"></head>
  <meta charset="UTF-8" />
  <title>Customer Update Form</title>

</head>
<body class="bg-image">
<div th:insert="~{layout/common :: header}"></div>
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h2 class="text-center">회원 수정</h2>
      <form id="customerUpdate"  onsubmit="update(event)">
        <div class="form-group">
          <label for="customerId">아이디</label>
          <input
                  type="text"
                  class="form-control"
                  id="customerId"
                  name="customerId"
                  placeholder="5~30자 이내로 입력해주세요"
                  maxlength="30"
                  minlength="5"
                  th:value="${dto.customerId}"
                  required ="required"
          />
        </div>

        <div class="form-group">
          <label for="password">비밀번호:</label>
          <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="최소 4자 이상(알파벳, 숫자 필수)"
                  th:value="${dto.password}"
                  required ="required"
          />
        </div>

        <div class="form-group">
          <label for="eMail">이메일</label>
          <input
                  type="email"
                  class="form-control"
                  id="eMail"
                  name="eMail"
                  placeholder="cos@cafemate.kr"
                  th:value="${dto.eMail}"
                  required ="required"
          />
        </div>

        <div class="form-group">
          <label for="name">실명</label>
          <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  placeholder="홍길동"
                  maxlength="10"
                  th:value="${dto.name}"
                  required ="required"
          />
        </div>

        <div class="form-group">
          <label for="alias">닉네임</label>
          <input
                  type="text"
                  class="form-control"
                  id="alias"
                  name="alias"
                  th:value="${dto.alias}"
                  placeholder="별명을 알파벳, 한글, 숫자를 20자 이하로 입력해주세요."

          />
        </div>

        <div class="form-group">
          <label for="phoneNumber">연락처</label>
          <input
                  type="tel"
                  class="form-control"
                  id="phoneNumber"
                  name="phoneNumber"
                  placeholder="전화번호를 입력해주세요 010-1111-1111"
                  pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}"
                  th:value="${dto.phoneNumber}"
                  required="required"
          />
        </div>


        <button type="submit" class="btn btn-primary">회원 수정</button>
      </form>
    </div>
  </div>
</div>
<script th:inline="javascript" >
let customerDto = [[${dto}]];
console.log(customerDto.id);

//(1)회원 수정하기
function update(event){
  event.preventDefault();
  //x-www-form-urlencoded형태인 key-value로 직렬화
  let data = $("#customerUpdate").serialize();

  $.ajax({
    type:"put",
    url:`/api/customers/${customerDto.id}`,
    data:data,
    contentType:"application/x-www-form-urlencoded; charset=utf-8",
    dataType:"json"
  }).done(res=>{
    console.log("성공",res);
    location.href="/admin/customers";
  }).fail(error=>{
    alert(JSON.stringify(error));
  })
}



</script>

<!-- Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>